.Rproj.user
.Rhistory
.RData
.Ruserdata
README.md
documentation/key_biotablero.pem
documentation/02_AWS_configuration.pptx
data/.DS_Store
data/forest
.DS_Store
documentation/doc_backend.nb.html
s3.env